<header>
    <a routerLink="/app">Home</a>
    <a routerLink="/lista">Lista</a>
    <a routerLink="/reserva">Reserva</a>
</header>
<h2>Fazer Reserva</h2>
<form (ngSubmit)="fazerReserva()">
  <label>Veículo ID:</label> <!--Trocar por dropdown list na prox sprint para facilitar a seleção-->
  <input type="text" [(ngModel)]="idVeiculo" name="idVeiculo" required /><br />

  <label>Usuário ID:</label> <!--Tentar trazer direto do login para facilitar na próx sprint-->
  <input type="text" [(ngModel)]="idUsuario" name="idUsuario" required /><br />

  <label for="uso">Tipo de uso</label> <!--Integrar com o backend - ainda nessa sprint-->
  <input list="tipoUso" [(ngModel)]="tipoUso" name="tipoUso" id="uso">
  <datalist id="tipoUso">
    <option value="Overnight">
    <option value="Teste">
  </datalist>

  <label>Data Início:</label>
  <input type="date" [(ngModel)]="dataInicio" name="dataInicio" required /><br />

  <label>Data Fim:</label>
  <input type="date" [(ngModel)]="dataFim" name="dataFim" required /><br />

  <button type="submit">Reservar</button>
</form>

