<body>
  <header>
    <a href="#">Quem Somos</a>
    <a href="#">Sobre o Site</a>
    <a href="#" (click)="toggleLogin($event)">Login</a>
  </header>

  <section class="hero">
    <div class="hero-text">
        <h2>Sobre o site</h2>
      <p>TEXTO GENÉRICO TEXTO GENÉRICO TEXTO<br>
         GENÉRICO TEXTO GENÉRICO TEXTO<br>
         GENÉRICO TEXTO GENÉRICO TEXTO</p>
    </div>
    <div class="hero-logo">
      <img src="../../imgs/FleetManagerLogo.png" alt="Logo FleetManager">
      <h2>FleetManager</h2>
      <p>Gestão Inteligente de Frotas</p>
    </div>
  </section>

  <section class="section-dark">
    <img src="../../imgs/ford-brasil-nova-geracao-ranger-limited-laranja-jalapao-638245817424104210.png" alt="Veículo">
    <div class="hero-text">
        <h2>Quem Somos?</h2>
      <p>TEXTO GENÉRICO TEXTO GENÉRICO TEXTO<br>
         GENÉRICO TEXTO GENÉRICO TEXTO<br>
         GENÉRICO TEXTO GENÉRICO TEXTO</p>
    </div>
  </section>

  <section id="login-section" *ngIf="loginVisible">
    <div *ngIf="loginVisible" class="modal-overlay">
      <div class="modal-content">
        <button class="close-btn" (click)="closeLogin()">X</button>
        <div class="login">
          <h1>Fleet Manager</h1>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <label for="typeLogin">Login</label>
            <input id="typeLogin" type="text" formControlName="email" />

            <label for="typePass">Senha</label>
            <input id="typePass" type="password" formControlName="password" />

            <button type="submit">Entrar</button>
          </form>
          <div *ngIf="invalidUser" class="error">Usuário ou senha inválidos.</div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    Texto de rodapé
  </footer>
</body>
